$navbar-bg: white;
$navbar-txt: black;
$body-bg: black;
$body-txt: white;

@mixin border-custom {
    border: 1px solid $body-txt;
    border-radius: 5px;
}

@mixin p-custom {
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

a, a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.heading1, .heading2,.heading3 { font-weight: bold; }
.heading1 { font-size: 2.5em; }
.heading2 { font-size: 2em; }
.heading3 { font-size: 1.5em; }

.navbar, .btn-custom, .badge-custom {
    background-color: $navbar-bg;
    color: $navbar-txt;
}

body, .modal-content, .input-custom, .card {
    background-color: $body-bg;
    color: $body-txt;
}

.input-custom {
    @include border-custom;
    padding: 3px 10px;
}

.btn-custom, .badge-custom {
    @include p-custom;
    padding: 0px 10px;
    border-radius: 5px;
}

.badge-custom { font-size: 0.75em; }
.btn-custom, .btn-delete { font-size: 0.9em; }

.btn-custom:hover {
    @include border-custom;
    background-color: $body-bg;
    color: $body-txt;
    transition: background-color .25s, color .25s;
}

.card-body {
    @include border-custom;
    margin-bottom: 30px;
}

.p-custom {
    @include p-custom;
}

.btn-delete {
    font-weight: bold;
    color: white;
}