{% extends "base.html" %}

{% block body %}
<title>Add Note</title>
<div class="container">
  <h1 class="m-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
    </svg>
  </h1>
  <form action="{{ url_for('add_note') }}" method="POST" class="col-10 offset-lg-1 note-form mt-5">
    <a href="https://www.markdownguide.org/cheat-sheet/" class="unstyled-link text-info" target="_blank">Markdown Cheat Sheet</a>
    <input class="form-control" type="text" name="title" autocomplete="off" placeholder="Title">
    <textarea class="form-control" rows="15" name="content" autocomplete="off" placeholder="Write content here"></textarea>
    <button type="submit" class="btn btn-lg btn-secondary w-100">Submit</button>
  </form>
</div>
{% endblock %}