{% macro title_div(txt, size='1', class='') %}
<div class="text-center {{ class }}">
  <p class="display-{{ size }}">{{ txt }}</p>
  {{ caller() }}
</div>
{% endmacro %}

{% macro unstyled_link(href='', color='black', modal_id=None, newtab=false, class='') %}
<!--suppress HtmlUnknownAttribute -->
<a href="{{ href }}"
   style="text-decoration:none; color:{{ color }};"
   class="{{ class }}"

   {% if modal_id %}
   data-toggle="modal"
   data-target="#{{ modal_id }}"
   {% endif %}

   {% if newtab %}
   target="_blank"
   {% endif %}
>
  {{ caller() }}
</a>
{% endmacro %}

{% macro paragraph(txt, size='1', class='') %}
<p class="{{ class }}" style="font-size:{{ size }}em">{{ txt }}</p>
{% endmacro %}

{% macro brand_icon(size='25', color='white') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
{% endmacro %}

{% macro delete_icon(size='25') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="red" class="bi bi-x-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
{% endmacro %}

{% macro user_icon(size='25') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg>
{% endmacro %}

{% macro plus_icon(size='25', color='white') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
</svg>
{% endmacro %}

{% macro post_list_item(post_) %}
<div class="list-group-item list-group-item-action">
  <p>{{ post_.author }}</p>
  <p>{{ post_.title }}</p>
  <p>{{ post_.date_created }}</p>
</div>
{% endmacro %}

{% macro modal(title, modal_id) %}
<div class="modal" id="{{ modal_id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      {% call title_div(title) %}{% endcall %}
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro login_form(class='') %}
<form action="{{ url_for('user_login') }}" class="form-group {{ class }}" method="POST">
  <input type="text" name="username" autocomplete="off" placeholder="Username" class="form-control my-3">
  <input type="password" name="passwd" autocomplete="off" placeholder="Password" class="form-control my-3">
  <button class="btn btn-info w-100 my-3" type="submit">Log In</button>
</form>
{% endmacro %}

{% macro signup_form(class='') %}
<form action="{{ url_for('add_user') }}" class="form-group {{ class }}" method="POST">
  <input type="text" name="username" autocomplete="off" placeholder="Username" class="form-control my-3">
  <input type="password" name="passwd" autocomplete="off" placeholder="Password" class="form-control my-3">
  <button class="btn btn-success w-100 my-3" type="submit">Sign Up</button>
</form>
{% endmacro %}

{% macro post_form(class='') %}
<form action="{{ url_for('editor') }}" class="form-group {{ class }}" method="POST">
  <input type="text" name="title" autocomplete="off" placeholder="Title" class="form-control my-3">
  <textarea rows="20" name="content" autocomplete="off" placeholder="Content" class="form-control my-3"></textarea>
  <button class="btn btn-success w-100 my-3" type="submit">Post</button>
</form>
{% endmacro %}