{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<span class="spinner-border spinner-border-sm me-2" id="spinner" style="display:none"></span>
<form onsubmit="event.preventDefault(); changePassword();">
  <input autocomplete="off" id="oldPassword" type="password" class="input-custom mb-3" placeholder="Current Password"><br>
  <input autocomplete="off" id="newPassword" type="password" class="input-custom mb-3" placeholder="New Password"><br>
  <input autocomplete="off" id="newPasswordConfirm" type="password" class="input-custom mb-3" placeholder="New Password Again"><br>
  <button type="submit" class="btn-custom">change password</button>
</form>
{% endblock %}